/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1 {
}

h2 {
}

h3 {
}

p {
  margin: 0;
}
/* ---- layout ---- */

.container {
}

canvas {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.727);
  height: 50%;
}

/* ---- section ---- */

.game-screen {
  display: flex;
  height: 80vh;
}
