:root {
  --black: #0a0908;
  --dark-grey: #22333b;
  --grey: #eae0d5;
  --light-brown: #c6ac8f;
  --dark-brown: #5e503f;
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  height: 100vh;
}

/* ---- typography ---- */

body {
  color: var(--black);
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}

p {
  margin: 0;
}
/* ---- layout ---- */

section {
  background: linear-gradient(
    -20deg,
    var(--black),
    var(--dark-grey),
    var(--dark-brown)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  font-size: 1.4em;
}

canvas {
  background-color: var(--dark-grey);
  /* height: 50%; */
  height: 84vh;
  width: 95vw;
}

h1 {
  color: var(--dark-brown);
  font-size: 3.5em;
  text-shadow: -1px -1px 0 var(--dark-brown), 1px -1px 0 var(--dark-brown),
    -1px 1px 0 var(--dark-grey), 1px 1px 0 #000;
  margin: 0;
}

.splash-screen h1 {
  font-family: "Press Start 2P", cursive;
}

h2 {
  color: var(--dark-grey);
  font-size: 2.4em;
  margin: 0;
  padding-bottom: 50px;
}

p {
  color: var(--light-brown);
  font-size: 2.3em;
  text-shadow: -1px -1px 0 var(--dark-brown), 1px -1px 0 var(--dark-brown),
    -1px 1px 0 var(--dark-grey), 1px 1px 0 #000;
}
.score {
  color: var(--grey);
  font-size: 1.7em;
}

#how-to-play {
  margin-left: 20px;
}
#how-to-play span {
  padding-top: 5px;
}

#how-to-play span:last-child {
  color: var(--light-brown);
}

#scoreBoard p {
  padding-bottom: 10px;
  font-size: 1em;
}
#scoreBoard {
  width: 33%;
}
#img-title {
  width: 500px;
  align-items: flex-end;
}

#img-subtitle {
  width: 30%;
}
/* ---- section ---- */

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: 100vh;

  background-color: var(--dark-grey);
  color: var(--grey);
}

.game-screen {
  cursor: none;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--dark-grey);
  color: var(--grey);
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
}

#scoreBoard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  align-items: flex-start;
}

.lives {
  display: flex;
  align-content: center;
  width: 33%;
  justify-content: flex-end;
}

.lives img {
  height: 40px;
}

#hud {
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: 100vh;

  background-color: var(--dark-grey);
  color: var(--grey);
}

.ctn-final-score {
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.ctn-final-score p {
  padding-bottom: 10px;
  font-size: 1.8em;
}

.ctn-score {
  display: flex;
  padding-top: 40px;
  font-size: 0.7em;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.ctn-final-score .score {
  font-size: 3.8em;
}

/* animated start button */
.btn-start {
  color: var(--grey);
  transition: all 0.5s;
  position: relative;
}
.btn-start::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.btn-start:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-start::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid var(--light-brown);
  transform: scale(1.2, 1.2);
}
.btn-start:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
/* animated restart button */
.btn-restart {
  color: var(--grey);
  transition: all 0.5s;
  position: relative;
}
.btn-restart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.btn-restart:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-restart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid var(--light-brown);
  transform: scale(1.2, 1.2);
}
.btn-restart:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* .btn-arrow {
  display: none;
} */

#small-screen {
  display: none;
}

#big-screen {
  color: var(--light-brown);
}

@media only screen and (max-width: 768px) {
  /* .btn-arrow {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  } */

  /* .btn-arrow button {
    width: 70px;
    height: 70px;
    border: solid 1px black;
    background-color: transparent;
    margin: 10px 50px;
    border-radius: 50%;
  } */

  .score {
    color: var(--grey);
    font-size: 1.2em;
  }
  #scoreBoard p {
    font-size: 1em;
    width: 33%;
  }

  .lives img {
    height: 35px;
  }

  #small-screen {
    display: block;
  }

  #big-screen {
    display: none;
  }

  #final-score p {
    font-size: 1em;
  }
  #final-score .score {
    padding-top: 20px;
    font-size: 2.2em;
  }

  #game-over {
    width: 500px;
  }

  #hud {
    width: 95%;
    margin-bottom: 10px;
  }

  #how-to-play {
    font-size: 0.55em;
    line-height: 13px;
    width: 33%;
  }
  #img-subtitle {
    width: 70%;
  }

  canvas {
    height: 88vh;
    width: 95vw;
  }

  .ctn-final-score {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }

  .ctn-final-score p {
    padding-bottom: 10px;
    font-size: 1.8em;
  }

  .ctn-score {
    display: flex;
    padding-top: 40px;
    font-size: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .ctn-final-score .score {
    font-size: 3.8em;
  }
}
